<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="memberMapper">
	<insert id="insertMember" parameterType="memberDTO">
		insert into MEMBER values(#{email}, #{password}, #{name}, #{auth}, #{token})
	</insert>
	
	<select id="checkId" parameterType="memberDTO" resultType="memberDTO">
		select * from MEMBER where EMAIL = #{email}
	</select>
	
	<update id="authMember" parameterType="memberDTO">
		update MEMBER set AUTH = '0' where EMAIL=#{email} and AUTH = #{auth}
	</update>
	
	<select id="checkMember" parameterType="memberDTO" resultType="memberDTO">
		select * from MEMBER where EMAIL = #{email} and PASSWORD = #{password}
	</select>
</mapper>